# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
.env
.venv/

# Logs and reports
*.log
*.json

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
